* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header,
.main,
.footer {
    border: 1px solid red;
}


/* .wrapper {
    text-align: center;
    background-color: rgba(64, 64, 64, 0.15);
    padding: 0 3em 3em;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
} */

.container {
    max-width: 900px;
    margin: 0 auto;
}

.container1 {
    display: flex;
}

.photo {
    margin-left: auto;
}

.inform {
    margin-right: auto;
}

.section {
    text-align: left;
}

#languages,
#skills {
    margin: 0 auto;
}

h1 {
    line-height: 0;
}

h2 {
    color: dimgray;
}

h3 {
    line-height: 0;
    text-decoration: underline;
}

.photo img {
    width: 250px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

hr {
    margin: 20px 0;
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: auto;
        padding: 0 1em 1em;
    }
    .container1 {
        flex-direction: column-reverse;
    }
    .inform,
    .photo {
        margin: 0;
    }
    h1 {
        line-height: unset;
    }
}

@media screen and (max-width: 290px) {
    .photo img {
        width: 100%;
    }
}


/* Top navigation */

.nav-list {
    display: flex;
    /* justify-content: flex-end; */
    list-style: none;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.nav-list a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s;
}

.nav-list a:hover {
    background-color: white;
    color: black;
}

.nav-list .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav-list a {
        display: none;
    }
    .nav-list a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav-list.responsive {
        position: relative;
    }
    .nav-list.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-list.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}