.wrapper{
    text-align: center;
    background-color: aqua;
    /*margin: 3em;*/
    padding: 3em;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display: flex;
}
.photo{
    /*height: 300px;*/
    /*width: 300px;*/
    margin-left: auto;
    /*margin-right: auto;*/
    /*margin: auto;*/
    /*background-color: wheat;*/
}
.inform{
    /*margin-left: auto;*/
    margin-right: auto;
    /*margin: auto;*/
    /*background-color: red;*/
}
h1{
    line-height: 0;

}
h2{
color: dimgray;
}
h3{
    line-height: 0;
}
img{
    width: 250px;
}
p{
    line-height: 1.5;
    width: 300px;
    margin: auto;
}
hr{
    margin: 50px 0;
}